@using Microsoft.Extensions.Configuration

@inject NavigationManager Navigation
@inject IConfiguration _configuration 

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><i class="fas fa-cloud-sun daedalus-logo mr-3"></i>Climate Pi @if(!string.IsNullOrEmpty(Location)) { <span> - @Location</span> }</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navToggle" aria-controls="navToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navToggle">
        <ul class="navbar-nav ml-md-auto">
            <li class="nav-item">
                <a class="nav-link mr-2" href="/"><i class="fas fa-clock current-icon mr-2"></i>Current</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-2" href="/history"><i class="fas fa-history history-icon mr-2"></i>History</a>
            </li>
        </ul>
    </div>
</nav>

@code{   
    public string Location { get; set;}

    protected override void OnInitialized()
    {
        Location = _configuration.GetValue<string>("Location");

        base.OnInitialized();
    }
}
